<div fxFlexFill fxLayoutAlign="center" >
    <mat-card fxFlex="100" *ngIf="visu && !editPwd">
        <mat-card-title>Mes Informations</mat-card-title>

        <mat-card-content fxLayoutAlign="center">
            <mat-list  fxFlex="35">
                <mat-list-item><span style="font-weight: bolder; margin-right: 20px;" fxFlex="30">Nom: </span>  <span fxFlex="70" style="text-align: center">{{personne.nom}}</span></mat-list-item>
                <mat-list-item><span style="font-weight: bolder; margin-right: 20px;" fxFlex="30">Prénom: </span>  <span fxFlex="70" style="text-align: center">{{personne.prenom}}</span></mat-list-item>
                <mat-list-item><span style="font-weight: bolder; margin-right: 20px;" fxFlex="30">Date de Naissance: </span>  <span fxFlex="70" style="text-align: center">{{personne.dateNaissance}}</span></mat-list-item>
                <mat-list-item><span style="font-weight: bolder; margin-right: 20px;" fxFlex="30">Adresse: </span>  <span fxFlex="70" style="text-align: center">{{personne.adresse}}</span></mat-list-item>
                <mat-list-item><span style="font-weight: bolder; margin-right: 20px;" fxFlex="30">Ville: </span>  <span fxFlex="70" style="text-align: center">{{personne.ville}}({{personne.cp}})</span></mat-list-item>
                <mat-list-item><span style="font-weight: bolder; margin-right: 20px;" fxFlex="30">Email: </span>  <span fxFlex="70" style="text-align: center">{{personne.email}}</span></mat-list-item>
                <mat-list-item><span style="font-weight: bolder; margin-right: 20px;" fxFlex="30">Téléphone: </span>  <span fxFlex="70" style="text-align: center">{{personne.telephone}}</span></mat-list-item>
                <mat-list-item><span style="font-weight: bolder; margin-right: 20px;" fxFlex="30">Mot de Passe: </span>  <span fxFlex="70" style="text-align: center">*********</span> </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-content fxLayoutAlign="center">
            <a (click)="editPwd = !editPwd"><button mat-raised-button color="accent">Modifier le Mot de Passe</button></a>
        </mat-card-content>
        <mat-card-content fxLayoutAlign="center">
            <p>Il y a une erreur dans votre profil?</p>
        </mat-card-content>
        <mat-card-content fxLayoutAlign="center">
            <a (click)="visu = !visu"><button mat-raised-button color="primary">Modifiez-le !</button></a>
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex="100" *ngIf="!visu && !editPwd">
        <a href="/profil/{{personne.id}}" style="margin-right: 2%; font-size: 10px;"><mat-icon>arrow_back</mat-icon> Retour </a>
        <mat-card-title style="margin-top: 1%;"> Modification des Informations</mat-card-title>

        <mat-card-content fxLayoutAlign="center">
            <form fxFlex="100" fxLayoutAlign="center" [formGroup]="editForm" (ngSubmit)="onSubmit()">
                <mat-list  fxFlex="35">
                    <mat-list-item>
                        <span style="font-weight: bolder; margin-right: 20px;" fxFlex="30">Nom: </span>
                        <span fxFlex="70" style="text-align: center">
                            <mat-form-field>
                                <input matInput formControlName="nom" placeholder="">
                            </mat-form-field>
                        </span>
                    </mat-list-item>

                    <mat-list-item>
                        <span style="font-weight: bolder; margin-right: 20px;" fxFlex="30">Prénom: </span>
                        <span fxFlex="70" style="text-align: center">
                            <mat-form-field>
                                <input matInput formControlName="prenom" placeholder="">
                            </mat-form-field>
                        </span>
                    </mat-list-item>

                    <mat-list-item>
                        <span style="font-weight: bolder; margin-right: 20px;" fxFlex="30">Date de Naissance: </span>
                        <span fxFlex="70" style="text-align: center">
                            <mat-form-field>
                                <input matInput formControlName="naissance" placeholder="">
                            </mat-form-field>
                        </span>
                    </mat-list-item>

                    <mat-list-item>
                        <span style="font-weight: bolder; margin-right: 20px;" fxFlex="30">Adresse: </span>
                        <span fxFlex="70" style="text-align: center">
                            <mat-form-field>
                                <input matInput formControlName="adresse" placeholder="">
                            </mat-form-field>
                        </span>
                    </mat-list-item>

                    <mat-list-item>
                        <span style="font-weight: bolder; margin-right: 20px;" fxFlex="30">Ville: </span>
                        <span fxFlex="70" style="text-align: center">
                            <mat-form-field>
                                <input matInput formControlName="ville" placeholder="">
                            </mat-form-field>
                        </span>
                    </mat-list-item>

                    <mat-list-item>
                        <span style="font-weight: bolder; margin-right: 20px;" fxFlex="30">Code Postal: </span>
                        <span fxFlex="70" style="text-align: center">
                            <mat-form-field>
                                <input matInput formControlName="cp" placeholder="">
                            </mat-form-field>
                        </span>
                    </mat-list-item>

                    <mat-list-item>
                        <span style="font-weight: bolder; margin-right: 20px;" fxFlex="30">Email: </span>
                        <span fxFlex="70" style="text-align: center">
                            <mat-form-field>
                                <input matInput formControlName="email" placeholder="">
                            </mat-form-field>
                        </span>
                    </mat-list-item>

                    <mat-list-item>
                        <span style="font-weight: bolder; margin-right: 20px;" fxFlex="30">Téléphone: </span>
                        <span fxFlex="70" style="text-align: center">
                            <mat-form-field>
                                <input matInput formControlName="telephone" placeholder="">
                            </mat-form-field>
                        </span>
                    </mat-list-item>
                </mat-list>
            </form>
        </mat-card-content>
        <mat-card-content fxLayoutAlign="center">
            <p>En validant ces informations, vous certifiez sur l'honneur l'exactitude de celles-ci.</p>
        </mat-card-content>
        <mat-card-content fxLayoutAlign="center">
            <p><a (click)="onSubmit()"><button mat-raised-button color="accent">Valider les modifications</button></a></p>
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex="100" *ngIf="editPwd" fxFlexFill>
        <a href="/profil/{{personne.id}}" style="margin-right: 2%; font-size: 10px;"><mat-icon>arrow_back</mat-icon> Retour </a>
        <mat-card-title style="margin-top: 1%;">Modification du Mot de passe</mat-card-title>

        <div fxLayoutAlign="center center">
            <mat-card fxFlex="60" fxLayout="column" fxLayoutAlign="center center">
                <mat-toolbar color="primary">
                    <span style="width: 100%; text-align: center;">Saisie des informations</span>
                </mat-toolbar>

                <form fxLayout="column" [formGroup]="editPwdForm" fxFlex="80" (ngSubmit)="onSubmitPwd()">
                    <mat-card-content fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">

                        <!-- oldPassword -->
                        <mat-form-field fxFlex="100">
                            <input type="password" matInput formControlName="old" placeholder="Ancien">
                            <div *ngIf="old.invalid && (old.dirty || old.touched)" class="mat-error">
                                <div *ngIf="old?.errors.required">Champ obligatoire.</div>
                            </div>
                        </mat-form-field>

                        <div fxFlex="100">
                            <!-- oldPassword -->
                            <mat-form-field fxFlex="45">
                                <input type="password" matInput formControlName="pwd" placeholder="Mot de Passe (min 6 caractères)">
                                <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="mat-error">
                                    <div *ngIf="pwd?.errors.required">Champ obligatoire.</div>
                                    <div *ngIf="pwd?.errors.minLength">Minimum 6 caractères</div>
                                </div>
                            </mat-form-field>

                            <div fxFlex="10"></div>

                            <!-- oldPassword -->
                            <mat-form-field fxFlex="45">
                                <input type="password" matInput formControlName="pwdC" placeholder="Confirmation (min 6 caractères)">
                                <div *ngIf="pwdC.invalid && (pwdC.dirty || pwdC.touched)" class="mat-error">
                                    <div *ngIf="pwdC?.errors.required">Champ obligatoire.</div>
                                    <div *ngIf="pwdC?.errors.minLength">Minimum 6 caractères</div>
                                </div>
                            </mat-form-field>
                        </div>



                    </mat-card-content>

                    <button [disabled]="!editPwdForm.valid" mat-stroked-button color="accent" class="btn-block">Valider</button>
                    <hr>
                </form>
                <mat-card *ngIf="state && (state !== 'Password Successfully changed')" class="mat-error">
                    <p>{{state}}</p>
                </mat-card>
                <mat-card *ngIf="state && (state == 'Password Successfully changed')">
                    <p>{{state}}</p>
                </mat-card>
            </mat-card>
        </div>
    </mat-card>

</div>

