<div fxFlexFill style="min-height: auto;">
    <div *ngIf="group !== null && promo !== null">
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <mat-form-field fxFlex="30">
                    <mat-label>Date de l'absence</mat-label>
                    <input matInput (dateChange)="pickDate($event)" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field *ngIf="date !== null && selectedCours !== null">
                    <mat-select (valueChange)="selectCrenaux($event)">
                        <mat-option *ngFor="let cour of selectedCours" [value]="cour.id">
                            {{cour.module}} | {{cour.start | date : 'H:mm'}}-{{cour.end | date : 'H:mm'}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div *ngIf="idLesson !== null">
                <mat-selection-list (selectionChange)="selectEtu($event)" *ngFor="let etu of etuGroupe">
                    <mat-list-option [value]="etu.id">
                        {{etu.fname}} {{etu.lname}}
                    </mat-list-option>
                </mat-selection-list>
            </div>




            <div fxLayoutAlign="center" fxLayout="row" *ngIf="date && etuAbs.length !== 0">
                <a (click)="onSubmit()"><button mat-stroked-button>Ajouter l'absence</button></a>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" style="margin-top: 2%;">
                <mat-card-content *ngIf="loading" fxFlex="100">
                    <div fxFlexFill fxLayoutAlign="space-around center" *ngIf="loading" style="margin-top: 5%">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>
                </mat-card-content>
                <mat-card-content *ngIf="!loading && state" fxLayoutAlign="center">{{state}}</mat-card-content>
            </div>

        </mat-card-content>
    </div>

    <div *ngIf="group === null || promo === null" style="margin-top: 2%;" fxLayoutAlign="center">
        <mat-card-content>Vous devez sélectionner la promotion <u><b>ET</b></u> le groupe</mat-card-content>
    </div>

</div>
