
<span>Département :</span>
<mat-form-field>
    <mat-select  (valueChange)="onChangeDept($event)">
        <mat-option *ngFor="let departement of dept" [value]="departement" >{{departement}}</mat-option>
    </mat-select>
</mat-form-field>

<span>Promotion :</span>
<mat-form-field>
    <mat-select (valueChange)="onChangePromo($event)">
        <mat-option *ngFor="let promotions of promo" [value]="promotions" >{{promotions}}</mat-option>
    </mat-select>
</mat-form-field>

<span>Groupe :</span>
<mat-form-field>
    <mat-select (valueChange)="onChangeName($event)">
        <mat-option *ngFor="let nom of name" [value]="nom" >{{nom}}</mat-option>
    </mat-select>
</mat-form-field>

<full-calendar defaultView="timeGridWeek"
               [header]="{
               left:'dayGridMonth,timeGridWeek,timeGridDay',
               center:'title',
               right:'prev,next today'
               }"
               minTime="6:00"
               maxTime="20:00"
               height="auto"
               locale="fr"
               [nowIndicator]="true"
               [hiddenDays]="[0]"
               [events]="cours"
               [plugins]="calendarPlugins"
               [allDaySlot]="false"
               *ngIf="!loading"
></full-calendar>

