<div fxFlexFill>
    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center">
            <mat-form-field fxFlex="30">
                <mat-label>Date de l'absence</mat-label>
                <input matInput (dateChange)="pickDate($event)" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="center" *ngIf="date">
                <mat-form-field fxFlex="30">
                    <mat-select placeholder="Choix matinée" (valueChange)="pickMatinee($event)">
                        <mat-option [value]="'Matin'">Matin</mat-option>
                        <mat-option [value]="'Apres-midi'">Après-midi</mat-option>
                    </mat-select>
                </mat-form-field>
        </div>

        <div fxLayoutAlign="center" fxLayout="row" *ngIf="date && matinee">
            <a (click)="test()"><button mat-stroked-button>Ajouter l'absence</button></a>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" style="margin-top: 2%;">
            <mat-card-content *ngIf="loading" fxFlex="100">
                <div fxFlexFill fxLayoutAlign="space-around center" *ngIf="loading" style="margin-top: 5%">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
            </mat-card-content>
            <mat-card-content *ngIf="!loading && state" fxLayoutAlign="center">{{state}}</mat-card-content>
        </div>

    </mat-card-content>
</div>
