<div fxFlex="100">
    <div class="basic-container" fxLayout="center" style="margin-top: 10%; margin-left: 5%;">
        <mat-card-title fxFlex="100">
            Bienvenue sur l'application de Gestion d'absences de l'IUT.
        </mat-card-title>
    </div>
    <div class="basic-container" fxLayout="center" style="margin-left: 5%;">
        <mat-card-subtitle fxFlex="100">
            Pour commencer à utiliser l'application, sélectionnez une action dans le menu !
        </mat-card-subtitle>
    </div>
    <div>
        <img src="../../assets/img/logo.png" style="height: 250px; width: auto; position: absolute; bottom: 25px; right: 25px;">
        <img src="../../assets/img/logo2.png" style="height: 250px; width: auto; position: absolute; bottom: 25px; left: 25px;">
    </div>

</div>
